

.header {
	background-color: rgba(74,117,150,.0);
	height: 280px;
  width: 100%;
	position: relative;
	top:300px;
	animation-name: bgfade;
  animation-duration: 3s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;

}

#headertext {
	font-family: 'Nunito', sans-serif; 
	font-size: 40px;
	color: white;
	position: relative;
	text-align: center;
	padding: 30px;
	margin: 0 auto;
	
}

.main{
	background: url("tones.jpg");;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	text-align: center;
	position:absolute;
	left:0px; 
	right:0px; 
	top:0px;
	bottom:0px;
	
}

.body {
	margin: 0px;
}

.enterbutton{
	font-family: 'Nunito', sans-serif; 
	font-size: 30px;
	width:140px;
	position: relative;
  margin: auto;
	top: 220px;
	display: block;
	color: white;
	padding: 0 3px 0 5px;
	background-color: #00080E;
	text-align: center;


	
	
}

.undertext {
	font-family: 'Satisfy', cursive;
  font-size: 30px;
	width:100%;
	color: white;
	position: absolute;
	padding 20px;
  margin: 0 auto 0 auto;
	top: 440;px;
  
	
}

a:link, a:visited { 
	color: inherit;
	text-decoration: none;
}

@keyframes bgfade {
    from {background-color: rgba(74,117,150,.0);}
    to {background-color: rgba(74,117,150,.60);}
}





.questions div {
	background-color: rgba(0, 0, 0, 0.6);
	min-height: 280px;
  width: 30%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-family: 'Nunito', sans-serif; 
	padding-bottom: 10px;
	border-style: solid;
	border-color: white;
	overflow:auto;

	
	
}

.questions div h2{
	color: white;
text-align: center;
	
	
}

.questions div p {
	color: white;
	padding: 12px;
	padding-top:6px;
	font-family: 'Overpass', sans-serif;
	font-size: 18px;
	margin: 10px;
}

.info {
	background-image: url("handshake.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.header2 {
	background: rgba(74,117,150,.0);
	height: 280px;
  width: 100%;
	position: relative;
	animation-name: bgfade;
	animation-duration: 3s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
	
}
#htext {
	font-family: 'Nunito', sans-serif; 
	font-size: 40px;
	color: white;
	position: relative;
	text-align: center;
	padding: 30px;
	margin: 0 auto;
}

.business {
	font-family: 'Satisfy', cursive;
  font-size: 16px;
	width:100%;
	color: white;
	text-align: center;
	position: absolute;
	margin: 0 auto;
	top: 145px;

}


